{% extends '::base_admin.html.twig' %}

{% block body -%}
    <h1>Director creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_director') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
