{% extends '::base_admin.html.twig' %}

{% block body -%}
	<h1>Movie creation</h1>

	{{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
		
	{{ form_end(form) }}

		<ul class="record_actions">
	<li>
		<a href="{{ path('admin_movie') }}">
			Back to the list
		</a>
	</li>
</ul>
{% endblock %}
