{% extends '::base_admin.html.twig' %}

{% block body -%}
	<h1>New Actor</h1>

    <form action="{{ path('admin_actor_create') }}" method="POST" {{ form_enctype(form) }}>
        {{ form(form) }}
	</form>

	<a href="{{ path('admin_actor') }}">Back to the list</a>
{% endblock %}